<h1>Edit Tool</h1>
<form action="/tools/<%= @tool.id %>" method="POST">
	<input type="hidden" name="_method" value="patch">
	<p>Name: <input type="text" name="tool[name]" value="<%= @tool.name%>"></p>
	<p>Description: 
		<p><textarea name="tool[description]" placeholder="<%= @tool.description %>"></textarea></p>
	</p>
	<input type="submit" name="update" value="Update!">
</form>
<br>
<form action="/tools/<%= @tool.id %>/delete" method="POST">
      <input type="hidden" name="_method" value="delete" id="hidden">
      <input type="submit" id="delete" value="Delete Tool">
</form>